.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
}

.Support {
  height: 100%;
  font-size: 22px;
  font-weight: bold;
  color: red;
  padding-top: 160px;
}

.Right {
  padding-top: 20px;
  display: flex;
  flex-direction: row-reverse;
  border-bottom: 1px solid red;
  padding-bottom: 6px;
}

.PrivacyPolicy {
  text-align: left;
  color: white;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: red;
}
.Download {
  margin-top: 40px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
